/* Reset */
* {
  font-family: "Fira Code", monospace;
  margin: 0;
  padding: 0;
  font-size: 20px;
  border: none;
  outline: none;
  box-sizing: border-box;
  color: #6b6e70;
}

body {
  background-color: #474b4f;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

/* Conteudo */
.background {}

.introducao {
  background: url(/img/green.jpg) center center no-repeat fixed;
}

.apresentacao {
  background: url(/img/bike.jpg) center center no-repeat fixed;
}

.formacao {
  background: url(/img/guitar.jpg) center center no-repeat fixed;
}

.projetos {
  background: url(/img/business.jpg) center center no-repeat fixed;
}

.conhecimentos {
  background: url(/img/code.jpg) center center no-repeat fixed;
}

.fundo {
  background-color: rgba(22, 26, 29, 0.7);
  padding-bottom: 10%;
}

.avatar {
  width: 20%;
  height: 20%;
  border-radius: 100%;
  border: 5px solid;
  margin-left: 40%;
  margin-top: 5%;
  border-color: #61892f;
}

.descricao {
  background-color: rgba(22, 26, 29, 0.95);
  width: 90%;
  height: auto;
  margin-top: -10%;
  margin-left: 5%;
  border-radius: 20px;
  border: 4px solid;
  border-color: #61892f;
  padding: 10% 5% 10% 5%;
}

strong {
  color: #61892f;
}

p {
  text-align: center;
}

h2 {
  text-align: center;
  color: #61892f;
}

.icon {
  width: 30%;
  margin-left: 36%;
  padding: 5% 1% 5% 1%;
  cursor: pointer;
}

/* Mobile First*/
@media screen and (min-width: 480px) {
  * {
    font-size: 20px;
  }

  .avatar {
    width: 15%;
    margin-left: 42.5%;
    margin-top: 2%;
    border-radius: 100%;
    border: 3px solid;
    border-color: #61892f;
  }

  .descricao {
    border-radius: 20px;
    border: 3px solid;
    border-color: #61892f;
  }

  .icon {
    width: 20%;
    margin-left: 40%;
    padding: 5% 1% 5% 1%;
  }
}

@media screen and (min-width: 780px) {
  * {
    font-size: 20px;
  }

  .fundo {
    background-color: rgba(22, 26, 29, 0.6);
    padding-bottom: 2%;
  }

  .avatar {
    width: 10%;
    margin-left: 45%;
    margin-top: 2%;
    border-radius: 100%;
    border: 3px solid;
    border-color: #61892f;
  }

  .descricao {
    background-color: rgba(22, 26, 29, 0.95);
    width: 48%;
    margin-left: 50%;
    margin-top: -7%;
    border-radius: 20px;
    border: 3px solid;
    border-color: #61892f;
    padding: 10% 5% 10% 5%;
  }

  .esquerda {
    background-color: rgba(22, 26, 29, 0.95);
    width: 48%;
    margin-left: 2%;
    border-radius: 20px;
    border: 3px solid;
    border-color: #61892f;
    padding: 10% 5% 10% 5%;
  }
}

@media screen and (min-width: 960px) {
  * {
    font-size: 30px;
  }

  .avatar {
    width: 7%;
    margin-left: 47%;
    margin-top: 1%;
    border-radius: 100%;
    border: 3px solid;
    border-color: #61892f;
  }

  .descricao {
    background-color: rgba(22, 26, 29, 0.95);
    width: 48%;
    margin-left: 50%;
    margin-top: -5%;
    border-radius: 20px;
    border: 3px solid;
    border-color: #61892f;
    padding: 10% 5% 10% 5%;
  }

  .esquerda {
    background-color: rgba(22, 26, 29, 0.95);
    width: 48%;
    margin-left: 2%;
    border-radius: 20px;
    border: 3px solid;
    border-color: #61892f;
    padding: 10% 5% 10% 5%;
  }
}

/* Rodapé */
.rodape {
  width: 100%;
  float: left;
  padding: 3% 4%;
  text-align: center;
  background: linear-gradient(to right, #6b6e70, #86c232);
}

.social-icons a {
  font-size: 1.5em;
  margin-right: 3%;
}

.fa {
  color: #222629;
}

.copyright {
  color: #222629;
}

/* login */
form {
  width: 100%;
  text-align: center;
}

input {
  width: 100%;
  padding: 10px;
  margin-top: 2%;
  margin-bottom: 5%;
  color: #222629;
  border-radius: 10px;
}

.button {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  margin-top: 5%;
  background-color: #222629;
  color: aliceblue;
}

.button:hover {
  background-color: #4caf50;
  /* Green */
  color: white;
  cursor: pointer;
}

/* Carregando */
.spinner {
  margin: auto;
  border: 8px solid rgba(0, 0, 0, 0.1);
  border-left-color: #4caf50;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

/* Porcentagem */
.flex-wrapper {
  display: flex;
  flex-flow: row nowrap;
}

.single-chart {
  margin: auto;
  margin-top: 10px;
  width: 33%;
  justify-content: space-around;
}

.circular-chart {
  display: block;
  margin: 10px auto;
  max-width: 80%;
  max-height: 250px;
}

.circle-bg {
  fill: none;
  stroke: #222629;
  stroke-width: 3.8;
}

.circle {
  fill: none;
  stroke-width: 2.8;
  stroke-linecap: round;
  animation: progress 1s ease-out forwards;
}

@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}

.circular-chart.green .circle {
  stroke: #61892f;
}

.percentage {
  fill: #6b6e70;
  font-size: 0.4em;
  text-anchor: middle;
}